<div class="conteiner">

<h1>Add a new bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>

  <%= f.submit 'Add a bookmark' %>
<% end %>

  <%= link_to "back to bookmark", list_path(@list) %>
  <%= link_to "delete", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>

</div>
